:root {
  --body-background-color: #02010b;
  --main-text-color: #ffffff;
  --accent-text-color: #f9b12a;
  --accent2-text-color: #e82d89;
  --bg-gradient-color: #560028;
  --btn-gradient-light: #f9b12a;
  --btn-gradient-dark: #ad560a;
}
